/****** Script for SelectTopNRows command from SSMS  ******/
SELECT  [SOURCE_ADDRESS_ID]
      ,[CONTACT_SOURCE_ID]
      ,[ADDRESS_TYPE_ID]
	  , (SELECT DESCRIPTION FROM ADDRESS_TYPE WHERE ADDRESS_TYPE.ADDRESS_TYPE_ID=SOURCE_ADDRESS.ADDRESS_TYPE_ID) AS DESCP
      ,[ADDRESS]
      ,[TOWN]
      ,[COUNTY]
      ,[COUNTRY]
      ,[POSTCODE]
      ,[PFE_1]
      ,[PFE_2]
      ,[PFE_3]
      ,[CREATED]
      ,[CREATED_BY]
      ,[LAST_UPDATED]
      ,[LAST_UPDATED_BY]
  FROM [CC].[dbo].[SOURCE_ADDRESS]