/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [CONTACT_SOURCE_ID]
      ,[PARTY_ID]
      ,[CONTACT_ID]
      ,[JOB_TITLE]
      ,[TITLE]
      ,[FIRST_NAME]
      ,[LAST_NAME]
      ,[PFE_1]
      ,[PFE_2]
      ,[PFE_3]
      ,[PRIMARY_FLAG]
      ,[CREATED]
      ,[CREATED_BY]
      ,[LAST_UPDATED]
      ,[LAST_UPDATED_BY]
  FROM [CC].[dbo].[CONTACT_SOURCE]
  WHERE EXISTS (SELECT NULL FROM CONTACT_SOURCE_FLAGS 
      WHERE CONTACT_SOURCE_FLAGS.[CONTACT_SOURCE_ID]= CONTACT_SOURCE.[CONTACT_SOURCE_ID]
	  AND HAS_ADDITIONAL_ADDRESSES=1)