/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [PICK_LIST_ITEM_ID]
      ,[PICK_LIST_ID]
	  , (SELECT DESCRIPTION FROM PICK_LIST WHERE PICK_LIST.PICK_LIST_ID=PICK_LIST_ITEM.PICK_LIST_ID) 
      ,[DESCRIPTION]
      ,[DORMANT]
      ,[FLAGS]
      ,[TAG]
  FROM [CC].[dbo].[PICK_LIST_ITEM]
  ORDER BY PICK_LIST_ID