/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [HIERARCHY_COMBINATION_ID]
      ,( SELECT  [HIERARCHY].DESCRIPTION FROM [HIERARCHY] WHERE [HIERARCHY].[HIERARCHY_ID]=[HIERARCHY_COMBINATION].[HIERARCHY_ID]) AS DESCRP
      ,( SELECT DESCRIPTION FROM [HIERARCHY_ITEM] WHERE [HIERARCHY_ITEM_ID]=[HIERARCHY_01]) AS H1
      ,( SELECT DESCRIPTION FROM [HIERARCHY_ITEM] WHERE [HIERARCHY_ITEM_ID]=[HIERARCHY_02]) AS H2
      ,( SELECT DESCRIPTION FROM [HIERARCHY_ITEM] WHERE [HIERARCHY_ITEM_ID]=[HIERARCHY_03]) AS H3
      ,( SELECT DESCRIPTION FROM [HIERARCHY_ITEM] WHERE [HIERARCHY_ITEM_ID]=[HIERARCHY_04]) AS H4
      ,[HIERARCHY_05]
      ,[HIERARCHY_06]
      ,[HIERARCHY_07]
      ,[HIERARCHY_08]
      ,[HIERARCHY_09]
      ,[HIERARCHY_10]
      ,[HIERARCHY_11]
      ,[HIERARCHY_12]
      ,[ALERT]
      ,[FLAGS]
      ,[TAG]
  FROM [CC].[dbo].[HIERARCHY_COMBINATION]