/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [CONTACT_PART_ID]
      ,[LAST_UPDATED]
      ,[LAST_UPDATED_BY]
      ,[CONTACT_ID]
      ,[PRIMARY_FLAG]
      ,[T001]
      ,[T002]
      ,[T003]
      ,[T004]
	  , [L001]
	  , (SELECT DESCRIPTION FROM [HIERARCHY_ITEM] WHERE HIERARCHY_ITEM_ID = L001) AS L01
      ,[L002]
	  , (SELECT DESCRIPTION FROM [HIERARCHY_ITEM] WHERE HIERARCHY_ITEM_ID = L002) AS L02
      ,[L003]
	  ,(SELECT DESCRIPTION FROM [HIERARCHY_ITEM] WHERE HIERARCHY_ITEM_ID = L003) AS L03
      ,[L004]
	   ,(SELECT DESCRIPTION FROM [HIERARCHY_ITEM] WHERE HIERARCHY_ITEM_ID = L004) AS L04
      ,[T005]
      ,[T006]
      ,[T007]
      ,[T008]
      ,[T009]
      ,[T010]
      ,[T011]
      ,[L005]
	  , (SELECT DESCRIPTION FROM [HIERARCHY_ITEM] WHERE HIERARCHY_ITEM_ID = L005) AS L05
      ,[L006]
	   ,(SELECT DESCRIPTION FROM [HIERARCHY_ITEM] WHERE HIERARCHY_ITEM_ID = L006) AS L06
      ,[T012]
      ,[L007]
	  ,(SELECT DESCRIPTION FROM [HIERARCHY_ITEM] WHERE HIERARCHY_ITEM_ID = L007) AS L07
      ,[L008]
	   ,(SELECT DESCRIPTION FROM [HIERARCHY_ITEM] WHERE HIERARCHY_ITEM_ID = L008) AS L08
      ,[L009]
	   ,(SELECT DESCRIPTION FROM [HIERARCHY_ITEM] WHERE HIERARCHY_ITEM_ID = L009) AS L09
      ,[L010]
	   ,(SELECT DESCRIPTION FROM [HIERARCHY_ITEM] WHERE HIERARCHY_ITEM_ID = L010) AS L010
      ,[L011]
	   ,(SELECT DESCRIPTION FROM [HIERARCHY_ITEM] WHERE HIERARCHY_ITEM_ID = L011) AS L012
      ,[T013]
      ,[T014]
      ,[L19]
      ,[L20]
      ,[L21]
      ,[L22]
      ,[L23]
      ,[L24]
      ,[L25]
      ,[L26]
      ,[L27]
      ,[L28]
      ,[L29]
      ,[L30]
      ,[L31]
      ,[L32]
      ,[L33]
      ,[L34]
      ,[B4]
  FROM [CC].[dbo].[CONTACT_PART_X]