/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [CONTACT_ID]
      ,[LAST_UPDATED]
      ,[LAST_UPDATED_BY]
      ,[L001]
	   ,(SELECT DESCRIPTION FROM [HIERARCHY_ITEM] WHERE HIERARCHY_ITEM_ID = L001) AS L01
      ,[L002]
	   ,(SELECT DESCRIPTION FROM [HIERARCHY_ITEM] WHERE HIERARCHY_ITEM_ID = L002) AS L02
      ,[D001]
      ,[D002]
      ,[L003]
	   ,(SELECT DESCRIPTION FROM [HIERARCHY_ITEM] WHERE HIERARCHY_ITEM_ID = L003) AS L03
      ,[L004]
	   ,(SELECT DESCRIPTION FROM [HIERARCHY_ITEM] WHERE HIERARCHY_ITEM_ID = L004) AS L04
      ,[L005]
	   ,(SELECT DESCRIPTION FROM [HIERARCHY_ITEM] WHERE HIERARCHY_ITEM_ID = L005) AS L05
      ,[B001]
      ,[T001]
      ,[T002]
      ,[L006]
	   ,(SELECT DESCRIPTION FROM [HIERARCHY_ITEM] WHERE HIERARCHY_ITEM_ID = L006) AS L06
      ,[L007]
	   ,(SELECT DESCRIPTION FROM [HIERARCHY_ITEM] WHERE HIERARCHY_ITEM_ID = L007) AS L07
      ,[L008]
	   ,(SELECT DESCRIPTION FROM [HIERARCHY_ITEM] WHERE HIERARCHY_ITEM_ID = L008) AS L08
      ,[L009]
	   ,(SELECT DESCRIPTION FROM [HIERARCHY_ITEM] WHERE HIERARCHY_ITEM_ID = L009) AS L09
      ,[L1]
      ,[L2]
      ,[L3]
      ,[L4]
      ,[L5]
      ,[L6]
      ,[L7]
      ,[L8]
      ,[L9]
      ,[L10]
      ,[L11]
      ,[L12]
      ,[L13]
      ,[L14]
      ,[L15]
      ,[L16]
      ,[L17]
      ,[L18]
      ,[L44]
      ,[L45]
      ,[L46]
      ,[L47]
      ,[L48]
      ,[L49]
      ,[L50]
      ,[L51]
      ,[L52]
      ,[L53]
      ,[L54]
      ,[L55]
  FROM [CC].[dbo].[CONTACT_X]